**/desktop.ini
.specstory/.gitignore
.specstory/history/2026-03-11_11-27Z-git-submodules-to-subtrees-conversion.md
SCRIPTS/desktop.ini
exports/FM-{3DD825E8-14F6-49CE-943E-B5210B576059}.ico
.vscode/FM-{9BDC1B01-9D58-4AC3-BD93-E1AB85522768}.ico
.idea/.gitignore
.idea/FM-{60E2E583-CB7E-423E-9EB5-877CFC2480EE}.ico
.idea/jupyter-settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/other.xml
.idea/Spike3DWorkEnv.iml
.idea/vcs.xml
.idea/codeStyles/codeStyleConfig.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.devcontainer/FM-{09834CAC-EFA0-473E-AA38-026A5FB1130B}.ico
folderico-green.ico
**/__pycache__
**/.cursorindexingignore*
tests/folderico-lemon.ico
.devcontainer/FM-{09834CAC-EFA0-473E-AA38-026A5FB1130B}.ico
.specstory
.idea
exports/FM-{3DD825E8-14F6-49CE-943E-B5210B576059}.ico

# uv-deps-switcher pyproject.toml backups
templating/uv_deps_switcher/backups/
pyPhoPlaceCellAnalysis/templating/uv_deps_switcher/backups/pyproject.toml.bak
pyPhoCoreHelpers/templating/uv_deps_switcher/backups/pyproject.toml.bak
**/*.egg-info
**/templating/uv_deps_switcher/backups
